services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    command: sh -c "git config --global --add safe.directory /app && bash"

  install:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    command: sh -c "git config --global --add safe.directory /app && composer install"

  update:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    command: sh -c "git config --global --add safe.directory /app && composer update"

  phpunit:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    command: sh -c "git config --global --add safe.directory /app && composer phpunit"

  tests:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    command: sh -c "git config --global --add safe.directory /app && composer run tests"

  phpstan:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    command: sh -c "git config --global --add safe.directory /app && composer run phpstan"

  fix-cs:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    command: sh -c "git config --global --add safe.directory /app && composer run fix-cs"
