<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Softonic Laravel Transactional Event Publisher">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"/>
    </listeners>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="./build/clover.xml"/>
            <html outputDirectory="./build/coverage"/>
            <text outputFile="./build/coverage.txt" />
        </report>
    </coverage>

    <logging>
        <junit outputFile="./build/report.junit.xml"/>
    </logging>


    <php>
        <env name="DB_CONNECTION" value="testing"/>
    </php>
</phpunit>
